{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll"
    data-image-src="{% static 'img/hero.jpg' %}">
</div>
<div class="container-fluid tm-mt-60">
    <div class="row tm-mb-50">
        <div class="col-lg-12 col-12 mb-5">
            <div class="tm-address-col">
                <h2 class="tm-text-primary mb-5">Личный Кабинет</h2>
            </div>
        </div>

    </div>
    <div class="row tm-mb-74 tm-people-row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-5">
            <img src="{% static 'img/people-1.jpg' %}" alt="Image" class="mb-4 img-fluid">
            <h2 class="tm-text-primary mb-4">{{ us.first_name}} {{us.last_name}}</h2>
            <h3 class="tm-text-secondary h5 mb-4">Chief Executive Officer</h3>
            <p class="mb-4">
                Mauris ante tellus, feugiat nec metus non, bibendum semper velit. Praesent laoreet urna id tristique
                fermentum. Morbi venenatis dui quis diam mollis pellentesque.
            </p>
            <ul class="tm-social pl-0 mb-0">
                <li><a href="https://facebook.com"><i class="fab fa-facebook"></i></a></li>
                <li><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://linkedin.com"><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>
        <ul class="tm-contacts">
            <li>
                <a href="#" class="tm-text-gray">
                    <i class="fas fa-envelope"></i>
                    Email: {{ us.email }}
                </a>
            </li>
            <li>
                <a href="#" class="tm-text-gray">
                    <i class="fas fa-phone"></i>
                    Tel: {{ us.phone_number }}
                </a>
            </li>
            <li>
                <a href="#" class="tm-text-gray">
                    <i class="fas fa-globe"></i>
                    URL: www.company.com
                </a>
            </li>
        </ul>


    </div>
</div>
</div>
</div?>

{% endblock %}